{{#partial "content"}}

    <div class="container">
        <form class="form-inline" action="/sighting/create" method="post">
            <label for="rangerName" class="mb-2 mr-sm-2">Enter Your Name</label>
            <input type="text" class="form-control mb-2 mr-sm-2" name="rangerName" id="rangerName">

            <div class="form-control mb-2 mr-sm-2">
                <label for="endangered" class="mb-2 mr-sm-2">Animal Category</label>
                <select id="endangered" name="endangered">
                    <option value="true">Endangered Animal</option>
                    <option value="false">Animal</option>
                </select>
            </div>



            <label for="location" class="mb-2 mr-sm-2">Sighting Location  </label>
            <input type="text" class="form-control mb-2 mr-sm-2" name="location" id="location">

            <label for="animalName" class="mb-2 mr-sm-2">Animal Name  </label>
            <input type="text" class="form-control mb-2 mr-sm-2" name="animalName" id="animalName">

            <label class="pl-2" for="health" class="mb-2 mr-sm-2">Animal Health  </label>
            <input type="text" class="form-control mb-2 mr-sm-2" name="health" id="health">

            <label for="animalAge" class="mb-2 mr-sm-2">Animal Age</label>
            <input type="text" class="form-control mb-2 mr-sm-2" name="animalAge" id="animalAge">

            <button type="submit" class="btn btn-primary mb-2">Submit</button>
        </form>
    </div>
{{/partial}}
{{> "layout.hbs"}}